*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mobile{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(31, 126, 209);
}

.mobileCards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}